/cqLog
/dist
/pycqBot.egg-info
/download
/cqLogs
/plugin_config.yml
/test.py
/bot_sql.db
/config.yml
/go-cqhttp
/session.token
/data
/logs
/plugin/nhentai/download
/plugin/*/__pycache__
/plugin/__pycache__
/plugin/rssSub/rss_xml
/plugin/rssSub/rss_sub
/plugin/traindata/train
/go-cqhttp.exe
/device.json